
ola

exemplo de interpolacao {{ url }}

<p>
<img [src]='urlImage'/>

</p>

<article>
<h3>Class e style bindind</h3>
<div>
    Selecione uma classe
    <select #classe (change)="0" >
        <option value='alert-success'>Sucesso</option>
        <option value='alert-info'>Info</option>
        <option value='alert-warning'>Warning</option>
        <option value='alert-danger'>Error</option>
    </select>
<br><br>
</div>


<div class="jumbo alert alert-danger" role="alert" [style.display]="classe.value == 'alert-danger' ? 'block':'none'">
    Esta mensagem so aparece em caso de erro
</div>


<div class="alert {{classe.value}}" role="alert">{{url}}</div>

<div class="alert" role="alert"
[class.alert-success]="classe.value == 'alert-success'"
>{{url}}</div>
<div class="alert" role="alert"
[class.alert-info]="classe.value == 'alert-info'"
>{{url}}</div>
<div class="alert " role="alert"
[class.alert-warning]="classe.value == 'alert-warning'"
>{{url}}</div>
<div class="alert " role="alert"
[class.alert-danger]="classe.value == 'alert-danger'"
>{{url}}</div>


</article>

<section class="event-binding">
    <article>
        <h3>Event binding</h3>
        <div>
            <button (click)="onClick()">Me clique
            </button>     
            <br><br>
            <input type="text"
            (keyup)="onKeyUp($event)"
            (keyup.enter)="onSave(campo.value)"
            (blur)="onSave(campo.value)"
            #campo
            >   
            <div>
                Conteudo {{conteudo}}
            </div>
            <div>
                Conteudo Salvo {{conteudoSalvo}}
            </div>

            <span
            (mouseover)="onMouse()"
            (mouseout)="onMouse()"
            [class.highlight]="isMouseOver"
            >
                Passe o mouse aqui
            </span>

        </div>
    </article>
</section>



<!--
<a href="#">Inbox <span class="badge">42</span></a>

<button class="btn btn-primary" type="button">
  Messages <span class="badge">4</span>
</button>

<p></p>

<div class="progress">
  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
    <span class="sr-only">45% Complete</span>
  </div>
</div>
-->